@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animated';

/* Базовые стили */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

/* Анимации для меню */
@keyframes flip {
	to {
		rotate: 360deg;
	}
}

@keyframes kitrotate {
	to {
		transform: rotate(90deg);
	}
}

.animate-flip {
	animation: flip 6s infinite;
}

.animate-kitrotate::before {
	animation: kitrotate 3s linear infinite;
}

.mask-gradient {
	mask-image: linear-gradient(white, transparent 50%);
}
